@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 8% 95%;
    --foreground: 210 8% 5%;

    --card: 180 8% 95%;
    --card-foreground: 210 8% 5%;

    --popover: 180 8% 95%;
    --popover-foreground: 210 8% 5%;

    --primary: 201 85% 44%;
    --primary-foreground: 180 9% 98%;

    --secondary: 204 11% 91%;
    --secondary-foreground: 210 8% 5%;

    --muted: 210 9% 91%;
    --muted-foreground: 200 9% 45%;

    --accent: 204 11% 91%;
    --accent-foreground: 210 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 9% 87%;
    --input: 207 9% 81%;
    --ring: 201 36% 72%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 200 7% 8%;
    --foreground: 180 9% 98%;

    --card: 200 6% 10%;
    --card-foreground: 180 9% 98%;

    --popover: 200 6% 10%;
    --popover-foreground: 180 9% 98%;

    --primary: 201 85% 38%;
    --primary-foreground: 180 9% 98%;

    --secondary: 203 8% 19%;
    --secondary-foreground: 180 9% 98%;

    --muted: 202 7% 29%;
    --muted-foreground: 201 8% 49%;

    --accent: 201 71% 19%;
    --accent-foreground: 180 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 204 8% 12%;
    --input: 202 9% 18%;
    --ring: 201 85% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
